[submodule "data_science_at_scale/data_manipulation_at_scale/datasci_course_materials"]
	path = data_science_at_scale/data_manipulation_at_scale/datasci_course_materials
	url = https://github.com/uwescience/datasci_course_materials.git
